/* Fix to allow <!doctype html>, because otherwise html and body don't occupy whole screen */
html, body {
    height: 100%;
}

#mapContainer {
    height: 100%;
}

.animal-popup-status-lost {
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.animal-popup-status-found {
    border: 1px solid rgba(0, 255, 0, 0.3);
}

.animal-popup-status-seen {
    border: 1px solid rgba(0, 0, 255, 0.5);
}