@this(configuration: play.api.Configuration)
@()(implicit messages: Messages)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="referrer" content="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@messages("app.title")</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("lib/purecss/build/pure-min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("lib/purecss/build/grids-responsive-min.css")"/>
        <script type="text/javascript" src="messages/"></script>
    </head>
    <body>
        <div id="root" class="box"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=@configuration.underlying.getString("bestaro.googleMapsApi")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/react/umd/react.production.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/react-dom/umd/react-dom.production.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/redux/dist/redux.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("lib/redux-thunk/dist/redux-thunk.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/react-redux.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("lib/react-virtualized/styles.css")">
        <script src="@routes.Assets.at("lib/react-virtualized/dist/umd/react-virtualized.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/utils.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/react-script.js")"></script>
    </body>
</html>
